<% if collection.present? %>
  <div class="user-submitted-collection-show">
    <div class="gallery-slider" id="circle-arrows">
      <% content = collection.contents.approved.order(:created_at).first %>
      <div class="slider-container">
        <div class="hide-for-print">
          <%= link_to reader_index_path(collection) do %>
            <% if content.data.content_type.include? "image" %>
                <%= image_tag content.data.url %>
            <% elsif content.data.content_type.include? "video" %>
              <%= content_tag :div, nil, class: "video-player", id: "video_player_#{content.id}", data: {source: content.data.url}%>
            <% end %>
          <% end %>
          <div class="image-toolbar">
            <div class="image-toolbar-items">
              <% if content.credit.present? %>
                <div class="image-caption">
                  <%= content.caption %>
                </div>
              <% end %>
              <% if content.credit.present? %>
                <span class="image-byline">
                  Courtesy of <%= content.credit %>
                </span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="featured-video-info">
      <div class="meta-title-static">
        <%= link_to reader_index_path(collection) do %>
          <h4 class="vp-title">
            <%= collection.name.html_safe %>
          </h4>
        <% end %>
      </div>
      <div class="small-12 columns">
        <%= link_to reader_index_path(collection) do %>
          <div class="vp-title">
            <p><%= collection.description.html_safe %></p>
          </div>
        <% end %>
      </div>
    </div>
  <div class="universal-flex-container universal-flex-natural">
    <%= link_to "Send us your photos".html_safe, user_submitted_new_content_path(collection.id), class: "user-submitted-btn button" %>
  </div>
</div>
<% end %>
<script type='text/javascript'>
  $('.video-player').each(function(){
    jwplayer(this.id).setup({
      file: $(this).data('source'),
      width: '100%',
      aspectratio: '16:9'
    });
  });
</script>
