<%= form_for @collection, html: { multipart: true, class: "elevated-form row"} do |f| %>
  <% if @collection.errors.any? %>
    <div class="small-12 columns">
      <div id="error_explanation">
        <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

        <ul>
          <% @collection.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="columns small-12 medium-8">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="columns small-12 medium-4">
    <%= f.label :identifier %>
    <%= f.text_field :identifier %>
  </div>
  <div class="columns small-12">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="columns small-12">
    <div class="universal-flex-container universal-flex-natural universal-flex-end">
      <%= f.submit "Submit", class: "btn-green universal-flex-button flex-button-natural form-submit" %>
    </div>
  </div>
<% end %>
