<%= form_for @content,
  url: @content.new_record? ? user_submitted_collection_contents_path(@content.collection) : user_submitted_collection_content_path(@content.collection, @content), html: { multipart: true, class: "elevated-form row"} do |f| %>
    <% if @content.errors.any? %>
      <div class="small-12 columns">
        <div id="error_explanation">
          <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>

          <ul>
            <% @content.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <% if @collection %>
      <%= hidden_field_tag "user_submitted_content[collection_id]", @collection.id %>
    <% end %>

    <div class="columns small-8">
      <div class="row">
        <div class="columns small-12">
          <%= f.label :caption %>
          <%= f.text_area :caption %>
        </div>
        <div class="columns small-12">
          <%= f.label :credit %>
          <%= f.text_field :credit %>
        </div>
        <div class="columns small-6">
          <%= f.label :data %>
          <%= f.file_field :data %>
        </div>
        <div class="columns small-6">
          <% if @content.data.present? %>
            <%= image_tag @content.data.url %>
          <% end %>
        </div>
        <div class="columns small-12">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
        <% unless @collection %>
          <div class="columns small-12">
            <%= f.label :collection %>
            <%= f.collection_select(:collection_id, UserSubmitted::Collection.all, :id, :name, include_blank: "- Select Collection -") %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="columns small-4">
      <div class="row">
        <div class="columns small-12">
          <%= f.label :status %>
          <%= f.select(:status, UserSubmitted::Content.statuses.keys.map { |w| [w.humanize, w] }) %>
        </div>
        <div class="columns small-12">
          <%= f.label :note %>
          <%= f.text_field :note %>
        </div>
        <% unless @content.new_record? %>
          <div class="columns small-12">
            <strong>Created:</strong> <%= @content.created_at.strftime("%l:%M%P %A, %B %e, %Y") %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="columns small-12">
      <div class="universal-flex-container universal-flex-natural universal-flex-end">
        <%= f.submit "Submit", class: "btn-green universal-flex-button flex-button-natural form-submit" %>
      </div>
    </div>
<% end %>
