<table>
  <thead>
    <tr>
      <th></th>
      <th>Status</th>
      <th>Submitted</th>
      <th>Content</th>
      <th>Credit</th>
      <% unless @collection %>
        <th>Collection</th>
      <% end %>
      <th>Note</th>
    </tr>
  </thead>

  <tbody>
    <% contents.each do |content| %>
      <tr>
        <td>
          <%= link_to '<i class="fa fa-eye"></i>'.html_safe, user_submitted_collection_content_path(content.collection, content) %>
          <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_user_submitted_collection_content_path(content.collection, content) %>
          <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, user_submitted_collection_content_path(content.collection, content), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        <td>
          <span style="color:<%= content.get_color %>;">
            <%= content.get_icon %>&nbsp;<%= content.status.capitalize %>
          </span>
        </td>
        <td>
          <%= content.created_at.strftime("%l:%M%P, %B %e") %>
        </td>
        <td>
          <%= render partial: "user_submitted/contents/display", locals: { content: content, size: 100 } %>
        </td>
        <td><%= content.credit.truncate(35) %></td>
        <% unless @collection %>
          <td><%= link_to content.collection.name, user_submitted_collection_path(content.collection) %></td>
        <% end %>
        <td>
          <%= content.note %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
