<% content_for :special_css do %>
  <%= stylesheet_link_tag "user_submitted/dropzone.css" %>
<% end %>
<% content_for :special_js do %>
  <%= javascript_include_tag "user_submitted/dropzone.js" %>
<% end %>
<%= form_for @content, url: user_submitted_create_content_path(@content.collection),
      html: { class: "row dropzone", multipart: true } do |f| %>
  <%= f.label(:email, "Your email address. We promise we will keep this private and will only be used incase we need to contact you regarding your submitted media.") %>
  <%= f.text_field(:email, id: "dz-email", placeholder: "Email") %>
  <div id="dz-errormsg" class="hide-initially">Please enter a valid email address.</div>
  <div id="prompt"></div>
  <% if @collection %>
    <%= hidden_field_tag "user_submitted_content[collection_id]", @collection.id %>
  <% end %>
<% end %>
<div id="dz-tpl" class="hide">
  <div class="columns small-4">
    <div class="dz-preview dz-file-preview">
      <div class="dz-details">
        <div class="dz-filename"><span data-dz-name></span></div>
        <div class="dz-size" data-dz-size></div>
        <img data-dz-thumbnail />
      </div>
      <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
      <div class="dz-error-message"><span data-dz-errormessage></span></div>
      <div class="dz-update-fields">
        <textarea class="dz-caption" name="dz-caption[]" placeholder="Caption"></textarea>
        <input type="text" class="dz-credit" name="dz-credit[]" placeholder="Credit">
        <input type="button" class="dz-save" value="Save">
        <span class="dz-status-icon"></span>
      </div>
    </div>
  </div>
</div>
<script>
  Dropzone.autoDiscover = false;
  $(function(){
    $('#dz-email').on('input', function(e){
      if(validateEmail($(this).val())) init_dropzone();
    });
    $('#dz-email').blur(function(){
      if(validateEmail($(this).val())){
        $(this).css('background-color', 'transparent');
        $('.dz-default').show();
        $('#dz-errormsg').hide();
      }else{
        $(this).css('background-color', '#fcc');
        $('.dz-default').hide();
        $('#dz-errormsg').show();
      }
    });
  });
  function init_dropzone(){
    var user_submitted_dropzone = new Dropzone("#new_user_submitted_content", {
      url: "<%= user_submitted_create_content_path(@content.collection) %>",
      paramName: "user_submitted_content[data]",
      maxFilesize: 10, // MB
      previewTemplate: $('#dz-tpl').html(),
      sending: function(file, data){
        $('#prompt').hide();
      },
      success: function(file, data) {
        console.log("success");
        console.log(file, data);
        $(file.previewElement).data('id', data.id);
        $(file.previewElement).find('.dz-save').click(function(){
          var btn = this;
          $(this).parent().children('.dz-status-icon').html('<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>');
          var caption = $(this).parent().children('.dz-caption').val();
          var credit = $(this).parent().children('.dz-credit').val();
          $.ajax({
            url: '<%= user_submitted_update_content_path(@content.collection) %>',
            method: 'post',
            data: {
              content_id: data.id,
              caption: caption,
              credit: credit
            }
          })
          .done(function(data) {
            $(btn).parent().children('.dz-status-icon').html('<i class="fa fa-check" aria-hidden="true"></i>');
            $("#prompt").html(data["notice"]).css('display','flex');
            console.log(data, btn);
            // $(btn).parents('.dz-image-preview').hide();
          })
          .fail(function(err) {
            console.log("Content update error", err);
          });
        });
      },
      error: function(file, err) {
        $(file.previewElement).find('.dz-update-fields').hide();
        console.log("error", err);
      }
    });
  }
  function validateEmail(email){
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(String(email).toLowerCase());
  }
$("#new_user_submitted_content").on("keypress", function (e) {
    if (e.keyCode == 13) {
        return false;
    }
});
</script>
