<% content_for :special_css do %>
  <%= stylesheet_link_tag "user_submitted/dropzone.css" %>
<% end %>
<% content_for :special_js do %>
  <%= javascript_include_tag "user_submitted/dropzone.js" %>
<% end %>
<%= form_for @content, url: user_submitted_create_content_path(@content.collection),
      html: { class: "row dropzone", multipart: true } do |f| %>
  <%= f.label(:email, "Your email address. We promise we will keep this private and will only be used incase we need to contact you regarding your submitted media.") %>
  <%= f.text_field(:email, placeholder: "Email") %>
  <% if @collection %>
    <%= hidden_field_tag "user_submitted_content[collection_id]", @collection.id %>
  <% end %>
<% end %>
<div id="dz-tpl" class="hide">
  <div class="columns small-4">
    <div class="dz-preview dz-file-preview">
      <div class="dz-details">
        <div class="dz-filename"><span data-dz-name></span></div>
        <div class="dz-size" data-dz-size></div>
        <img data-dz-thumbnail />
      </div>
      <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
      <div class="dz-error-message"><span data-dz-errormessage></span></div>
      <div class="dz-update-fields">
        <textarea class="dz-caption" name="dz-caption[]" placeholder="Caption"></textarea>
        <input type="text" class="dz-credit" name="dz-credit[]" placeholder="Credit">
        <input type="button" class="dz-save" value="Save">
      </div>
    </div>
  </div>
</div>
<script>
  Dropzone.autoDiscover = false;
  $(function() {
    var user_submitted_dropzone = new Dropzone("#new_user_submitted_content", {
      url: "<%= user_submitted_create_content_path(@content.collection) %>",
      paramName: "user_submitted_content[data]",
      maxFilesize: 2, // MB
      previewTemplate: $('#dz-tpl').html(),
      success: function(file, data) {
        console.log("success");
        console.log(file, data);
        $(file.previewElement).data('id', data.id);
        $(file.previewElement).find('.dz-save').click(function(){
          var caption = $(this).parent().children('.dz-caption').val();
          var credit = $(this).parent().children('.dz-credit').val();
          $.ajax({
            url: '<%= user_submitted_update_content_path(@content.collection) %>',
            method: 'post',
            data: {
              content_id: data.id,
              caption: caption,
              credit: credit
            }
          })
          .done(function(data) {
            console.log(data);
          })
          .fail(function(err) {
            console.log("Content update error", err);
          });
        });
      },
      error: function(file, err) {
        $(file.previewElement).find('.dz-update-fields').hide();
        console.log("error", err);
      }
    });
  });
</script>
